.DS_Store
*.log

# Backend (Laravel)
/backend/laravel/.env
/backend/laravel/vendor/
/backend/laravel/storage/*.key
/backend/laravel/public/storage

# Frontend (Next.js)
/frontend/.env
/frontend/node_modules/
/frontend/.next/

# Docker
**/.DS_Store
